<ion-header>
  <ion-navbar>
    <ion-title>New Recipe</ion-title>
  </ion-navbar>
</ion-header>

<!-- NOTE: reactive approach -->
<ion-content padding>
  <form [formGroup]="newRecipeForm" (ngSubmit)="saveRecipe()">
    <ion-list>
      <ion-item>
          <ion-label floating><p>Title</p></ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating><p>Description</p></ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label floating><p>Difficulty</p></ion-label>
          <ion-select formControlName="difficulty">
              <ion-option [value]="difficulty" *ngFor="let difficulty of difficultyOptions">{{ difficulty }}</ion-option>
          </ion-select>
        </ion-item>
    </ion-list>
    <ion-list formArrayName="ingredients">
      <button ion-item no-lines type="button" clear block (click)="manageIngredients()">Manage Ingredients</button>
      <!-- NOTE: "arabeggiant" stuff here...not sure if goosta... -->
      <ion-item *ngFor="let ingredient of newRecipeForm.get('ingredients').controls; let i = index;">
        <ion-input type="text" [formControlName]="i"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" block [disabled]="newRecipeForm.valid === false">Save Recipe</button>
  </form>
</ion-content>
